#guide-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  border-bottom: 2px solid ivory;
}

#guide-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#guide-filter-select {
  display: inline-block;
  margin-top: .5em;
  color: ivory;
  background-color: rgba(11, 102, 35, .75);
  border: 1px solid ivory;
  border-radius: .35em;
}

#guide-filter-select:open option {
  background-color: #0B6623;
}

#return {
  display: inline-block;
  margin-top: .5em;
  padding: .5em .75em;
  text-decoration: none;
  background-color: rgba(0, 0, 0, .1);
  border-radius: .25em;
}

#return:hover {
  background-color: rgba(0, 0, 0, .2);
}