#caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

#caption small {
  display: block;
  font-size: 1.25em;
}

#caption a {
  color: black;
}

#caption a:hover {
  color: white;
}
