#guide-table {
  display: flex;
  flex-direction: column;
  border: 1px solid ivory;
  padding-left: 0;
  list-style: none;
}

#guide-table .table-row > * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 1em;
  text-decoration: none;
  padding: 1em;
  border-bottom: 1px solid ivory;
}

#guide-table .table-row div > * {
  margin-top: .5em;
  margin-bottom: .5em;
}

#guide-table .table-row:last-child > * {
  border-bottom: none;
}

#guide-table .table-row:hover {
  background-color: rgba(0, 0, 0, .1);
}

#guide-table .table-row:hover h3 {
  text-decoration: underline;
}