* {
  font-family: 'Inconsolata', monospace;
}

*::selection {
  background-color: rgba(0, 0, 0, 0.25);
}

body {
  margin: 0;
}

a {
  color: ivory;
}

a:hover {
  color: lemonchiffon;
}

@keyframes animateBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

#root {
  min-height: 100vh;
  background-image: linear-gradient(
    30deg,
    rgba(11, 102, 35, 0.75),
    rgba(11, 102, 35, 0.45)
  ), url('./assets/background.png');
  background-position: 0 0;
  background-repeat: repeat;
  animation: animateBackground 64s linear infinite;
}
