* {
  font-family: 'Inconsolata', monospace;
}

*::selection {
  background-color: white;
}

@keyframes animateBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;

  background-image: linear-gradient(
    30deg,
    rgba(11, 102, 35, 0.75),
    rgba(11, 102, 35, 0.35)
  ), url('./assets/textures/asphalt.png');
  background-position: 0 0;
  background-repeat: repeat;
  animation: animateBackground 25s linear infinite;
}
