* {
  font-family: 'Inconsolata', monospace;
}

*::selection {
  background-color: white;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}
