#resource-table {
  display: flex;
  flex-direction: column;
  list-style: none;

  border: 1px solid ivory;
  padding-left: 0;
}

#resource-table .table-row > * {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: baseline;
  text-decoration: none;
  padding: 1em;
  border-bottom: 1px solid ivory;
}

#resource-table .table-row h3 {
  margin: 0;
}

#resource-table .table-row:last-child {
  border-bottom: none;
}

#resource-table .table-row:hover {
  background-color: rgba(0, 0, 0, .1);
}

#resource-table .table-row:hover > * {
  text-decoration: underline;
}

#resource-table .table-row > * {
  text-decoration: none;
}
