#guide-resources-list {
  position: relative;
  list-style-type: none;
  padding-left: 1em;
}

.resource-list-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  margin-left: -1em;
}

#resource-list {
  display: flex;
  flex-direction: column;
  list-style: none;

  border: 1px solid ivory;
  padding-left: 0;
}

#resource-list .list-row > * {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: baseline;
  text-decoration: none;
  padding: 1em;
  border-bottom: 1px solid ivory;
}

#resource-list .list-row h3 {
  margin: 0;
}

#resource-list .list-row:last-child {
  border-bottom: none;
}

#resource-list .list-row:hover {
  background-color: rgba(0, 0, 0, .1);
}

#resource-list .list-row:hover > * {
  text-decoration: underline;
}

#resource-list .list-row > * {
  text-decoration: none;
}
